In [156]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [157]:
data = pd.read_csv("california housing price/housing.csv")
data =pd.DataFrame(data)

In [158]:
nr,nc = data.shape
print(f"rows are {nr}, columns are {nc}")

rows are 20640, columns are 10

In [159]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [160]:
data.drop(columns=["longitude","latitude","ocean_proximity"],inplace=True)

In [161]:
data.head(5)

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [162]:
data.describe()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [163]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   housing_median_age  20640 non-null  float64
 1   total_rooms         20640 non-null  float64
 2   total_bedrooms      20433 non-null  float64
 3   population          20640 non-null  float64
 4   households          20640 non-null  float64
 5   median_income       20640 non-null  float64
 6   median_house_value  20640 non-null  float64
dtypes: float64(7)
memory usage: 1.1 MB

In [182]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    return df[indices_to_keep].astype(np.float64)

clean_dataset(data)

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...
20635,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [165]:
X= data.drop(columns="median_house_value")
y = data[["median_house_value"]]

In [166]:
print(X.columns)
print(y.columns)

Index(['housing_median_age', 'total_rooms', 'total_bedrooms', 'population',
       'households', 'median_income'],
      dtype='object')
Index(['median_house_value'], dtype='object')

In [167]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0,test_size=0.3)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(14303, 6)
(6130, 6)
(14303, 1)
(6130, 1)

In [168]:
np.isnan(data.all())

housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
median_house_value    False
dtype: bool

In [169]:
np.isfinite(data.all())

housing_median_age    True
total_rooms           True
total_bedrooms        True
population            True
households            True
median_income         True
median_house_value    True
dtype: bool

In [170]:
model = RandomForestRegressor()
model.fit(X_train,y_train)

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor()

In [171]:
y_pred = model.predict(X_test)

In [172]:
y_pred = pd.DataFrame(y_pred)
y_pred

              0
0     110005.00
1     177721.00
2     169244.00
3     403653.40
4     362126.04
...         ...
6125  203588.00
6126  168140.00
6127   88478.00
6128   79793.00
6129  170781.00

[6130 rows x 1 columns]

In [178]:
print(y_test)
print()

       median_house_value
14185             98900.0
6125             153000.0
14095             91300.0
14359            345200.0
18004            344100.0
...                   ...
20450            280200.0
14681            264000.0
2639              76800.0
2935              42700.0
15781            193800.0

[6130 rows x 1 columns]

In [190]:
ex = [[41.0,880.0,129.0,322.0,126.0,8.3252],[21.0,7099.0,1106.0,2401.0,1138.0,8.3014]] # first 2 records from the dataset with prices 452600.0 and ,358500.0
model.predict(ex) # our model predicteds the values as 450241.22 and ,385581.02

c:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

array([450241.22, 385581.02])

#hence our model has given the most accurae values for all the results